//.uploaderWrapper {
//  width: 1000px;
//  margin: 0 auto 50px;
//  padding: 20px;
//  background-color: #ffffff;
//  border-radius: 10px;
//  box-shadow: 2px 2px 2px #999999;
//  animation: fadeIn .5s, moveDown .5s;
//  box-sizing: border-box;

  .uploadArea {
    width: 240px;

    .uploadLabel {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 220px;
      height: 40px;
      padding: 0 20px;
      font-size: 18px;
      line-height: 100%;
      color: #ffffff;
      background-color: #6c7ae0;
      cursor: pointer;
      outline: none;
      text-decoration: none;
      border: 1px solid #6c7ae0;
      border-radius: 5px;


      .uploadLabelText {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0;
        font-size: 18px;
        line-height: 100%;
      }
      .uploadedLabelText {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        .uploadedLabelName {
          font-size: 11px;
          line-height: 100%;
        }
      }
    }
    .uploadInput {
      display: none;
      outline: none;
    }

  }

//}

// TODO: animation mixin
@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes moveDown {
  from { margin-top: -10px; }
  to   { margin-top: 0; }
}