@import '../../styles/_colors.scss';

.uploadArea {
  width: 100%;
  margin-top: 40px;

  .uploadLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    font-size: 18px;
    line-height: 100%;
    color: $white;
    background-color: $blue;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    border: 1px solid $blue;
    border-radius: 5px;


    .uploadLabelText {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 0;
      font-size: 18px;
      line-height: 100%;
    }
    .uploadedLabelText {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      .uploadedLabelName {
        font-size: 11px;
        line-height: 100%;
      }
    }
  }
  .uploadInput {
    display: none;
    outline: none;
  }

}

