@import '../../styles/_colors.scss';
@import '../../styles/_animations.scss';

.tableLoadingForm {
  width: 320px;
  height: 100vh;
  overflow-x: scroll;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px $grey;
  animation: fadeIn .5s, moveDown .5s;
  box-sizing: border-box;
  z-index: 100;

  .tableLoadingFormWrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;

    .inputs {
      display: flex;
      flex-direction: column;
      width: 100%;

      .inputsRow {
        display: flex;
        flex-direction: column;

        .inputLink {
          width: 100%;
          margin-right: 15px;
        }
        .inputName {
          width: 100%;
          margin-top: 10px;
        }
      }
    }

    .buttonTable {
      display: flex;
      width: 100%;
    }
    .buttonJson {
      display: flex;
      width: 100%;
    }
  }

  .inputsErrors {
    margin-top: 10px;

    .errorText {
      margin: 0;
      font-size: 14px;
      line-height: 100%;
      color: $red;
      word-wrap: break-word;
      animation: fadeIn .5s, moveDown .5s;
    }
  }

}