.tableLoadingForm {
  width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #999999;
  animation: fadeIn .5s, moveDown .5s;
  display: flex;
  justify-content: space-between;

      .inputs {
          display: flex;
          flex-direction: column;
          width: 75%;

          .inputsRow {
              display: flex;

              .inputLink {
                width: 300px;
                margin-right: 20px;
              }
              .inputName {
                width: 200px;
              }

          }

          .inputsErrors {
              margin-top: 10px;

              .errorText {
                  margin: 0;
                  font-size: 14px;
                  line-height: 100%;
                  color: #fb796a;
              }
          }

      }

      .buttons {
          display: flex;
          width: 25%;
          justify-content: flex-end;
      }

}



@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes moveDown {
  from { margin-top: -10px; }
  to   { margin-top: 0; }
}