.jsonWrapper {
  width: 1000px;
  margin: 50px auto;
  /*padding: 0 0 30px;*/
  background-color: #ffffff;
  border-radius: 10px;
  animation: fadeIn .5s, moveDown .5s;

  .jsonWrapperHeader {
    /*margin-bottom: 20px;*/
    padding: 15px 20px;
    background-color: #6c7ae0;
    color: #ffffff;
    font-weight: 600;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .jsonEditor {
    max-height: 400px;
    overflow-y: scroll;
    padding: 10px 20px 30px;
  }

}



// TODO: animation mixin
@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes moveDown {
  from { margin-top: -10px; }
  to   { margin-top: 0; }
}